<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAv9LR3GYqdH7qsIKnSNS_yrhziK9eIRDg</string>
	<key>GCM_SENDER_ID</key>
	<string>360110066989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pledge.preview</string>
	<key>PROJECT_ID</key>
	<string>pledge-devnet</string>
	<key>STORAGE_BUCKET</key>
	<string>pledge-devnet.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360110066989:ios:0d0fc3ac3c1774f62f97a4</string>
</dict>
</plist>