[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
pledge = "GXmRKiwZ6ozV8iGJLq1usFafhpPPYFjfFoQcCPGUQpJe"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "npx ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
